@inherits LayoutComponentBase
<header>
    <div class="title">csvファイル比較サービス(preview)</div>
    <nav>
        <NavLink href="" Match="NavLinkMatch.All">ホーム</NavLink>
        <NavLink href="#" Match="NavLinkMatch.Prefix">使い方</NavLink>
        <NavLink href="https://fukicycle.github.io/csv-diff-service-web/" target="_blank">ソース</NavLink>
    </nav>
</header>
<main>
    @Body
</main>
<footer>

</footer>