header,
main,
footer {
    width: 100%;
    padding: 0 4px;
}

header {
    height: 70px;
    box-shadow: 0 2px 4px var(--default-shadow-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.title {
    font-weight: var(--font-bold);
    font-size: 24px;
}