/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --default-shadow-color: rgba(0, 0, 0, .25);
    --font-bold: 900;
    --font-color-light: #333333;
    --font-color-dark: #F2F2F2;
    --background-dark:#4A4A4A;
    --background-light: #EAEAEA;
}

html,
body,
#app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: var(--font-color-light);
    background-color: var(--background-light);
}

#app {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 18px;
}

a {
    color: var(--font-color-light);
}
