<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>指定されたページは存在しません</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">指定されたページは見つかりませんでした。</p>
        </LayoutView>
    </NotFound>
</Router>
